{% extends 'base.html.twig' %}

{% block title %}Einkaufswagen{% endblock %}

{% block body %}
<style>
    .button{
        text-decoration: none;
        color: #212529;        
    }
    .button:hover{
        color: #585f65;  
    }
    .bu2{
        float:right;
        
        
    }
    .rname{
        display: inline;
        color: #212529;
        text-decoration-line: underline;
        font-size: smaller;
    }
    
</style>


<div class="container">
    <div class="row" id="block">
        <div class="col-lg-8">
         <img style="max-width: 100%" src="{{asset('img/head.jpg')}}">
    <h1 style="margin-top: 10px;margin-bottom: 0px;">Ihre Bestellung bei: <p class="rname">{{restaurant_name}}</p></h1>
    <hr style="height:5px;margin-top: 0px;margin-bottom: 10px;">
    <a href="javascript:location.reload(true)" class="button"><i class="fas fa-sync-alt"></i></a>
    <div class="bu2"><a href="javascript:location.reload(true)" class="button">Restaurant</a></div>
    <p></p>

    {% for bestellung in bestellungen %}
        <table class="table table-striped">
        <thead><tr><th scope="col">{{bestellung.GastName}}</th><th scope="col"></th></tr></thead>
        <tbody>
        {%if bestellung.GerichtVariation.count() > 0 %}
        {% for gerichtvari in bestellung.GerichtVariation %}
        <tr>
                <td><a class="link-dark" href="/gerichte/{{gerichtvari.gericht.restaurant.id}}?id=heading{{gerichtvari.gericht.Nummer}}">{{gerichtvari.gericht.Kategorie.Bezeichner}}: {{gerichtvari.gericht.Name}}: {{gerichtvari.Name}}</a></td>
                <td>{{gerichtvari.preis}}€</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>Keine Gerichte gewählt!</td>
            <td></td>
        </tr>
        {% endif %}

        </tbody>
        </table>

    {% endfor %}
        </div>
        <div class="col-lg-4" id="sidebar"><p>danebemn</p></div>
    </div>
</div>

</div>

<script>
    function toggleit(){
        sidebar=document.getElementById("sidebar")
        if( sidebar === null){
            sidebar.
        }

    }
    


</script>


{% endblock %}


