{% extends 'base.html.twig' %}

{% block title %}Einkaufswagen{% endblock %}

{% block body %}
<style>
    .button{
        text-decoration: none;
        color: #212529;      
    }
    .button:hover{
        color: #585f65;  
    }
    .bu2{
        float:right;
        background-color: #8ec6ff;
        border-radius:5px;
        padding:5px;
        font-weight:bold;       
        
    }
    .rname{
        display: inline;
        color: #212529;
        text-decoration-line: underline;
        font-size: smaller;
    }
    @media only screen and (min-width: 1200px){
        .smulview{
            margin-left:10%;
            max-width: 80%;
        }
    }
    
</style>


<div class="container">
    <div class="row">
        <div class="col smulview">
        <img style="max-width: 100%" src="{{asset('img/head.jpg')}}">
        <h1 style="margin-top: 10px;margin-bottom: 0px;">Ihre Bestellung bei: <p class="rname">{{restaurant.name}}</p></h1>
        <hr style="height:5px;margin-top: 0px;margin-bottom: 10px;">
        <a href="javascript:location.reload(true)" class="button"><i class="fas fa-sync-alt fa-2x"></i></a>
        <div class="bu2"><a onclick="toggleit()" class="button">Restaurant Info</a></div>
        <p></p>
        {% set gesamtpreis = 0 %}
        {% for bestellung in bestellungen %}
            {% set preis = 0 %}
            <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">{{bestellung.GastName}}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {%if bestellung.GerichtVariation.count() > 0 %}
            {% for gerichtvari in bestellung.GerichtVariation %}
            <tr>
                <td>
                    <a class="link-dark" href="/gerichte/{{gerichtvari.gericht.restaurant.id}}?id=heading{{gerichtvari.gericht.Nummer}}">{{gerichtvari.gericht.Kategorie.Bezeichner}}: {{gerichtvari.gericht.Name}}: {{gerichtvari.Name}}</a>
                </td>
                <td class="text-end">{{gerichtvari.preis}}€</td>
                {% set preis = preis + gerichtvari.preis %}
            </tr>
            {% endfor %}
            <tr>
                <td style="font-weight:bold;">Zwischensumme</td>
                <td class="text-end">{{preis}}€</td>
            </tr>
            {% set gesamtpreis = gesamtpreis + preis %}
            {% else %}
            <tr>
                <td>Keine Gerichte gewählt!</td>
                <td></td>
            </tr>
            {% endif %}
            </tbody>
            </table>
        {% endfor %}
        <!--
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" style="font-size: large;">Gesamtpreis</th>
                    <th scope="col" class="text-end" style="font-size: large;">{{gesamtpreis}}€</th>
                </tr>
            </thead>
        </table>
        -->
        <div class="col-sm-3" id="sidebar" style="display:none;">
            <p style="font-weight:bold;">Restaurant</p>
            <p>{{restaurant.name}}</p>
            <p>{{restaurant.TelefonNr}}</p>
            <p>{{restaurant.Mobil}}</p>
            <p>{{restaurant.Straße}} {{restaurant.HausNr}}</p>
            <p>{{restaurant.Ort.plz}} {{restaurant.Ort.ort}}</p>
        </div>
    </div>
</div>

</div>

<script>
    function toggleit(){
        sidebar=document.getElementById("sidebar")
        if( sidebar.style["display"]==="block"){
            sidebar.style["display"]="none"
        }else{
            sidebar.style["display"]="block"

        }
    }
    


</script>


{% endblock %}


