{% extends 'base.html.twig' %}

{% block title %}Links{% endblock %}


{% block body %}

<div class="container" style="margin-top: 1em;">
    <label>Öffentliche Url, Verteile sie an die Besteller</label>
    <div class="input-group mb-3">
        <input type="text" class="form-control publicurltext" value={{ url('setParam', {link: sammelbestellung.PublicURL}) }} readonly></input>
        <div class="input-group-append">
            <button class="input-group-text publicurlbtn" id="basic-addon2">Copy URL</button>
        </div>
        <a class="btn btn-success" href="whatsapp://send?text={{ url('setParam', {link: sammelbestellung.PublicURL}, true) }}" data-action="share/whatsapp/share">
            <i class="fab fa-whatsapp fa-lg">
            </i>
        </a>
    </div>

    <div class="input-group mb-3">
        <a class="btn btn-primary" href={{ url('setParam', {link: sammelbestellung.PublicURL}) }}>Eigene Bestellung tätigen</a>
    </div>
</div>

    <div class="container" style="margin-top: 1em;">
        <label>Admin Url, merke sie dir, um auf diese Seite zurückzukerhen</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control publicurltext" value={{ url('adminView', {link: sammelbestellung.AdminUrl}) }} readonly></input>
            <div class="input-group-append">
                <button class="input-group-text publicurlbtn" id="basic-addon2">Copy URL</button>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col col-auto"><p>Status der Sammelbestellung:</p></div>
        <div class="col"><b>{{ sammelbestellung.istoffen ? "Es kann noch bestellt werden" : "Es können keine Änderungen mehr vorgenommen werden" }}</b></div>
        <div class="col">
            <form method="post" action="{{ url('changeOrdercollection', {state: sammelbestellung.istoffen ? "false" : "true"}) }}">
                <button class="btn btn-secondary">{{ sammelbestellung.istoffen ? "Sammelbestellung schließen" : "Sammelbestellung wieder öffnen"}}</button>
            </form>
        </div>
    </div>
</div>



    <script src="{{ asset('js/receivedUrls.js') }}"></script>

{% endblock %}